*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

@media only screen and (max-width: 479px)  {
    .main {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.90) 0%, rgba(0, 0, 0, 0.80) 100%);
        width: 100vw;
        min-height: 100vh;
        height: max-content;
    }
    .nav {
        width: 100%;
        height: 7rem;
        padding: 1.5rem 0 ;
        box-shadow: rgba(255, 255, 255, 0.09) 0px 2px 1px, rgba(255, 255, 255, 0.09) 0px 4px 2px, rgba(255, 255, 255, 0.09) 0px 8px 4px, rgba(255, 255, 255, 0.09) 0px 16px 8px, rgba(255, 255, 255, 0.09) 0px 32px 16px;
        border-radius: 0 0 .3rem .3rem;
        
        
        background:linear-gradient(180deg, rgba(1,236,255,0.8069728135394783) 0%, rgba(6,171,245,0.8069728135394783) 100%);;
        backdrop-filter:blur(3rem) ;
        

    }
    .titulo {
        color: rgba(0, 0, 0, 0.675);
        text-transform: capitalize;
        text-align: center;
        text-shadow: 1rem 1rem .2rem  rgba(0, 0, 0, 0.15);
        font-size: 2.5rem;
        
    }
    .contenedorGeneral{
        display: flex;

    }

    .stack{
        max-width: 100%;
        
        margin: 3rem auto;
        display: flex;
        align-items: flex-start;
        justify-content: baseline;
        
    }

    .item{
        text-align: center;
        justify-self: center;
        align-self: center;
    }

    .card{
        box-shadow: rgba(255, 255, 255, 0.702) 0px 30px 60px -12px inset, rgba(255, 255, 255, 0.6) 0px 18px 36px -18px inset;
        width: 5rem;
        height: fit-content;
        font-size: 1rem;
    }

    .imagen{
        height: 3rem;
    }

    .imagen:hover{
        cursor: pointer;
        box-shadow: .2rem .2rem 2rem .1rem black;
        

        animation-name: imagen;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }


    @keyframes imagen {
        0% { transform: scale(1.3);  transform:perspective(20); }
        50% { transform: scale(1.1); transform:perspective(50);  }
        100% { transform: scale(1.3); transform:perspective(20);  }
    }

    .contenido{
        text-align: center;
    }

    .contenedor{
        margin: auto;
        width: fit-content;
        height: 9rem;
        
        padding: .5rem ;
        display: flexbox;
        align-items: center;
        justify-content: center;
        flex-direction: row;

        
        background:rgba(51, 51, 51, 0.245);

        
        box-shadow: rgba(48, 48, 48, 0.359) 0px 50px 100px -20px, rgba(175, 175, 175, 0.41) 0px 30px 60px -30px, rgba(255, 255, 255, 0.477) 0px -2px 6px 0px inset;
        border-radius: 1rem;
    }

    .formulario{
        
        align-self: center;
        justify-self: center;
        text-align: center;
        font-size:1rem;
        
    }

    .alert{
        width: 10rem;
        margin-bottom: .5rem;
        
    }

    .select{
        width: 10rem;
        font-size:1rem;
    }

    .boton{
        margin-top: .5rem;
        width: 5rem;
        height: 3.6rem;
    }
    
}

@media only screen and (min-width: 480px) and (max-width: 722px)  {
    .main {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.90) 0%, rgba(0, 0, 0, 0.80) 100%);
        width: 100vw;
        min-height: 100vh;
        height: max-content;
    }
    .nav {
        width: 100%;
        height: 7rem;
        padding: 1.5rem 0 ;
        box-shadow: rgba(255, 255, 255, 0.09) 0px 2px 1px, rgba(255, 255, 255, 0.09) 0px 4px 2px, rgba(255, 255, 255, 0.09) 0px 8px 4px, rgba(255, 255, 255, 0.09) 0px 16px 8px, rgba(255, 255, 255, 0.09) 0px 32px 16px;
        border-radius: 0 0 .3rem .3rem;
        
        
        background:linear-gradient(180deg, rgba(1,236,255,0.8069728135394783) 0%, rgba(6,171,245,0.8069728135394783) 100%);;
        backdrop-filter:blur(3rem) ;
        

    }
    .titulo {
        color: rgba(0, 0, 0, 0.675);
        text-transform: capitalize;
        text-align: center;
        text-shadow: 1rem 1rem .2rem  rgba(0, 0, 0, 0.15);
        font-size: 2.5rem;
        
    }
    .contenedorGeneral{
        display: flex;

    }

    .stack{
        max-width: 100%;
        
        margin: 3rem auto;
        display: flex;
        align-items: flex-start;
        justify-content: baseline;
        
    }

    .item{
        text-align: center;
        justify-self: center;
        align-self: center;
    }

    .card{
        box-shadow: rgba(255, 255, 255, 0.702) 0px 30px 60px -12px inset, rgba(255, 255, 255, 0.6) 0px 18px 36px -18px inset;
        width: 5rem;
        height: fit-content;
        font-size: 1rem;
    }

    .imagen{
        height: 3rem;
    }

    .imagen:hover{
        cursor: pointer;
        box-shadow: .2rem .2rem 2rem .1rem black;
        

        animation-name: imagen;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }


    @keyframes imagen {
        0% { transform: scale(1.3);  transform:perspective(20); }
        50% { transform: scale(1.1); transform:perspective(50);  }
        100% { transform: scale(1.3); transform:perspective(20);  }
    }

    .contenido{
        text-align: center;
    }

    .contenedor{
        margin: auto;
        width: fit-content;
        height: 9rem;
        
        padding: .5rem ;
        display: flexbox;
        align-items: center;
        justify-content: center;
        flex-direction: row;

        
        background:rgba(51, 51, 51, 0.245);

        
        box-shadow: rgba(48, 48, 48, 0.359) 0px 50px 100px -20px, rgba(175, 175, 175, 0.41) 0px 30px 60px -30px, rgba(255, 255, 255, 0.477) 0px -2px 6px 0px inset;
        border-radius: 1rem;
    }

    .formulario{
        
        align-self: center;
        justify-self: center;
        text-align: center;
        font-size:1rem;
        
    }

    .alert{
        width: 10rem;
        margin-bottom: .5rem;
        
    }

    .select{
        width: 10rem;
        font-size:1rem;
    }

    .boton{
        margin-top: .5rem;
        width: 5rem;
        height: 3.6rem;
    }
}

@media only screen and (min-width: 723px) and (max-width: 1023px)  {
    .main {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.90) 0%, rgba(0, 0, 0, 0.80) 100%);
        width: 100vw;
        min-height: 100vh;
        height: max-content;
    }
    .nav {
        width: 100%;
        height: 8rem;
        padding: 1.5rem 0 ;
        box-shadow: rgba(255, 255, 255, 0.09) 0px 2px 1px, rgba(255, 255, 255, 0.09) 0px 4px 2px, rgba(255, 255, 255, 0.09) 0px 8px 4px, rgba(255, 255, 255, 0.09) 0px 16px 8px, rgba(255, 255, 255, 0.09) 0px 32px 16px;
        border-radius: 0 0 .3rem .3rem;
        
        
        background:linear-gradient(180deg, rgba(1,236,255,0.8069728135394783) 0%, rgba(6,171,245,0.8069728135394783) 100%);;
        backdrop-filter:blur(3rem) ;
        

    }
    .titulo {
        color: rgba(0, 0, 0, 0.675);
        text-transform: capitalize;
        text-align: center;
        text-shadow: 1rem 1rem .2rem  rgba(0, 0, 0, 0.15);
        font-size: 3rem;
        
    }

    .stack{
        max-width: 100%;
        
        margin: 3rem auto;
        display: flex;
        align-items: flex-start;
        justify-content: baseline;
       
        
    }

    .item{
        text-align: center;
        justify-self: center;
        align-self: center;
    }

    .card{
        box-shadow: rgba(255, 255, 255, 0.702) 0px 30px 60px -12px inset, rgba(255, 255, 255, 0.6) 0px 18px 36px -18px inset;
        width: 5rem;
        height: fit-content;
        
    
    }

    .imagen{
        height: 3rem;
    }

    .imagen:hover{
        cursor: pointer;
        box-shadow: .2rem .2rem 2rem .1rem black;
        

        animation-name: imagen;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }


    @keyframes imagen {
        0% { transform: scale(1.3);  transform:perspective(20); }
        50% { transform: scale(1.1); transform:perspective(50);  }
        100% { transform: scale(1.3); transform:perspective(20);  }
      }

    .contenido{
        text-align: center;
    }

    .contenedor{
        margin: auto;
        width: fit-content;
        height: 28vh;
        
        padding: 1rem ;
        display: flexbox;
        align-items: center;
        justify-content: center;
        flex-direction: row;

        
        background:rgba(51, 51, 51, 0.245);

        
        box-shadow: rgba(48, 48, 48, 0.359) 0px 50px 100px -20px, rgba(175, 175, 175, 0.41) 0px 30px 60px -30px, rgba(255, 255, 255, 0.477) 0px -2px 6px 0px inset;
        border-radius: 1rem;
    }

    .formulario{
        
        align-self: center;
        justify-self: center;
        text-align: center;
        font-size:1rem;
        
    }

    .alert{
        width: 20rem;
        margin-bottom: .5rem;
    }

    .select{
        width: 20rem;
        font-size:1rem;
    }

    .boton{
        margin-top: .5rem;
        width: 5rem;
        height: 3.6rem;
    }
}

@media only screen and (min-width: 1024px)   {
    .main {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.90) 0%, rgba(0, 0, 0, 0.80) 100%);
        width: 100vw;
        min-height: 100vh;
        height: max-content;
    }
    .nav {
        width: 100%;
        height: 10rem;
        padding: 3rem 0 ;
        box-shadow: rgba(255, 255, 255, 0.09) 0px 2px 1px, rgba(255, 255, 255, 0.09) 0px 4px 2px, rgba(255, 255, 255, 0.09) 0px 8px 4px, rgba(255, 255, 255, 0.09) 0px 16px 8px, rgba(255, 255, 255, 0.09) 0px 32px 16px;
        border-radius: 0 0 .3rem .3rem;
        
        
        background:linear-gradient(180deg, rgba(1,236,255,0.8069728135394783) 0%, rgba(6,171,245,0.8069728135394783) 100%);
        backdrop-filter:blur(3rem) ;
        

    }
    .titulo {
        color: rgba(0, 0, 0, 0.675);
        text-transform: capitalize;
        text-align: center;
        text-shadow: 1rem 1rem .2rem  rgba(0, 0, 0, 0.15);
        font-weight: 900;
        font-size: 3rem;
        
    }

    .stack{
        max-width: 100%;
        
        margin: 3rem auto;
        display: flex;
        align-items: flex-start;
        justify-content: baseline;
        
    }

    .item{
        text-align: center;
        justify-self: center;
        align-self: center;
    }

    .card{
        box-shadow: rgba(255, 255, 255, 0.702) 0px 30px 60px -12px inset, rgba(255, 255, 255, 0.6) 0px 18px 36px -18px inset;
        width: 8rem;
        height: fit-content;
        
    
    }

    .imagen{
        height: 5rem;
        width: 8rem;
    }

    .imagen:hover{
        cursor: pointer;
        box-shadow: .2rem .2rem 2rem .1rem black;
        

        animation-name: imagen;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }


    @keyframes imagen {
        0% { transform: scale(1.3);  transform:perspective(20); }
        50% { transform: scale(1.1); transform:perspective(50);  }
        100% { transform: scale(1.3); transform:perspective(20);  }
      }

    .contenido{
        text-align: center;
    }

    .contenedor{
        margin: auto;
        width: fit-content;
        height: 28vh;
        
        padding: 1rem ;
        display: flexbox;
        align-items: center;
        justify-content: center;
        flex-direction: row;

        
        background:rgba(51, 51, 51, 0.245);

        
        box-shadow: rgba(48, 48, 48, 0.359) 0px 50px 100px -20px, rgba(175, 175, 175, 0.41) 0px 30px 60px -30px, rgba(255, 255, 255, 0.477) 0px -2px 6px 0px inset;
        border-radius: 1rem;
    }

    .formulario{
        
        align-self: center;
        justify-self: center;
        text-align: center;
        
    }

    .alert{
        width: 30rem;
        margin-bottom: .5rem;
    }

    .select{
        width: 30rem;
        
        
    }

    .boton{
        margin-top: .5rem;
        width: 5rem;
        height: 3.6rem;
    }
}

